@media only screen and (max-width: 1200px) {

    #navbar h2.slogan {font-size: 16px; padding-top: 5px; padding-left: 12px;  }
    ul.header-right li {    margin-right: 3px; }
    
    .game-zone-outer {  overflow-x: auto ; }
    .game-zone {  width: 960px ; border: 1px solid #ccc;   }
    



}

@media only screen and (max-width: 1024px) {





}

@media only screen and (max-width: 991px) {
    .navbar-toggle { margin-top: 18px !important;}
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: #a31919 !important; }
    .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:active .icon-bar { background-color: #fff;  }
    h1.logo { float: none; }
    #navbar h2.slogan {font-size: 20px; padding: 10px 0;  margin: 0;   }
    ul.header-right { width: 100%; text-align: center; padding: 10px 0; margin: 0;   }
    ul.header-right li { display: inline-block; float: none;  }
    .login-page {min-height: 600px; }
    .login-head h3 {font-size: 26px; }
    .login-head p {font-size: 14px; }
    .start-over p {font-size: 14px; line-height: normal ; }

    /*how to play page code start*/
    .draganddrop-outer {padding: 7% 0 5%; }
    h2.page-title i.fa-times { right: 15px; }
    /*how to play page code end*/
    .game-zone-outer{overflow-x: visible; min-height:828px;  }
    .box-bottom { width: 250px; }
    /*home page code start*/
    .que-zone{position: fixed; height: 100vh; background: white; top: 72px; right: -120%; width: 80%; padding: 2px 20px; box-shadow: 0 0 6px rgba(0,0,0,0.4); z-index: 999;     }
    .que-btn{float: right; margin: 19px 10px; background: #a31919; padding: 1px 10px; color: #FFF; border: 0; }
    .static{position: static; }
    #que-block{transition: 0.5s; }
    .right-menu{right: -1px; }
    .bottom {position: fixed; bottom: 0; z-index: 999;     padding: 20px 0; }
    /*home page code end*/



}

@media only screen and (min-width: 768px) and (max-width: 990px) {

    button.que-btn { position: absolute; right: 0; }
}


@media only screen and (max-width: 767px) {

    h2.slogan {font-size: 18px; padding-top: 10px; padding-left: 15px; }
    .login-box .form-control { width: 315px; }
    .login-box button.cmn-btn {width: 315px;padding: 10px 0;  }
    .text-center label { line-height: normal ;}
    section.btm-text {padding: 25px 0; }
    #footer {padding: 30px 0 15px 0; }
    .foot-left {width: 100%; text-align: center;}
    .foot-right  {    display: inline-block; width: 100%; text-align: center; margin-top: 10px;}
    .bottom span i.fa-long-arrow-left, .bottom span i.fa-long-arrow-right { color: gray}
    .total-units {    margin-left: 0;  }
    .star-yellow { display: none; }
    #points-popup .modal-content {margin: 0 50px; }
    
    /*how to play page code start*/
    h2.page-title {font-size: 23px;}
    
    /*how to play page code end*/


    /*home page code start*/
    .option-container ul{height: 290px; }
    /*home page code end*/

    /*Resume page code start*/
    .resume { padding:5% }
    .resume .education span {width: 100%; padding-top: 16px; }
    .resume .education { width: 100%; }
    .resume .education p { width: 100%; }
    /*Resume page code end*/


}

@media only screen and (max-width: 640px) {

    h2.slogan  { display: none; }
    .total-units {    margin-left: 0;  }
    .total-units span {     font-size: 16px; margin: 0 0; padding: 4px 5px;}
    .total-units .star-yellow {top: -13px; }

    span.elective-bg { vertical-align: top;     margin: -8px 8px -15px; padding: 12px 5px }
    .next { padding-top: 0; }
    .total-units h5 {width: 52px !important; margin: 0px 5px 0 0; font-size: 12px;   }
    .units-outer .total-units.elective h5 { width: 78px !important;  }
    .bottom .start-over { padding-top: 0; }
    .next { padding-top: }




    /*home page code end*/

}

@media only screen and (max-width: 480px) {
    ul.header-right { margin-top: 0; }
    ul.header-right li {margin-right: 2px; }
    .login-box .form-control {width: 280px; }
    .login-box button.cmn-btn {width: 280px; } 
    ul.header-right a { padding: 0;     font-size: 10px; }
    ul.header-right li.social { margin-top: 10px; }
    .header-right i.fa {font-size: 13px; padding: 9px 11px; }
    .login-head h3 { font-size: 24px;}
    #navbar h2.slogan { font-size: 17px; }
    .login-page { min-height: auto; }
    .next { padding-top: 12px; }
    .next a {margin: -12px -7px 0 0; }
    .units-outer {width: 280px; margin: 0 0 0 -21px; padding: 0;}

    /*how to play code start*/
    .draganddrop-outer { padding: 0; }
    /*how to play code end*/





}

@media only screen and (min-width: 320px) and (max-width: 380px) {


    .bottom .start-over span {margin: 0 0 0 -15px; }
    span.left-arrow-mobile {margin: 0 0 0 -16px; }
    .units-outer {margin: 0 0 0 -40px; }
    .units-outer .total-units.elective h5 {width: 78px !important; }
    span.elective-bg { margin: -9px -5px -15px; }
    i.fa-long-arrow-left {font-size: 24px; }
    .next a {  margin: -12px -23px 0 0 !important;  }
    .total-units h5 {font-size: 10px; }
    .bottom span i.fa-long-arrow-left, .bottom span i.fa-long-arrow-right {font-size: 26px;}



}



@media only screen and (max-width: 320px) {

    .login-head h3 {font-size: 20px; }
    .login-head p { font-size: 14px;}
    .units-outer {margin: 0 0 0 -60px; }

}