body {font-family: 'Raleway', sans-serif !important; font-size: 17px !important; line-height:30px !important; color: #5a5858 !important;     }
a.cmn-btn { background-color: #ffc028; color: #fff; text-transform: uppercase; font-weight: bold; border: none; padding: 12px;      }
a.cmn-btn:hover { background-color: #000; color: #fff;  }

button.cmn-btn { background-color: #ffc028; color: #fff; text-transform: uppercase; font-weight: bold; border: none; padding: 12px; width: 100%; margin-top: 14px   }
button.cmn-btn:hover { background-color: #000; color: #fff;   }

button.cmn-btn2 { background-color: #a11b1f; color: #fff; border-radius: 0; font-size: 14px; line-height: normal; padding: 10px 30px; margin-top: 20px;       }
button.cmn-btn2:hover { color: #fff; }
button.cmn-btn2:focus, button.cmn-btn2:active {  color: #fff; }

.clearfix:before, .clearfix:after {content: ""; display: table; }
.clearfix:after {clear: both; }
.clearfix {zoom: 1; / For IE 6/7 (trigger hasLayout) / }

/*Login page css start*/
*, h1, h2{padding: 0; margin:0; }


.form-control {border-radius: 0px;}
.btn {border-radius: 0px;}

.login-page { background: url(../images/banner.png) no-repeat center top; width: 100%; height: 560px;  background-size: cover;     margin-top: 0px; position: relative;   }
.login-box {margin: 0 auto; padding: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center;  }
/*Login page css end*/

/*Home page css start*/

.draganddrop-outer { display: inline-block; float: left; width: 100%; padding: 2% 0; width: 100%; text-align: center;padding-bottom: 11px;   }
#header{ background: #d7d7d7; display: block; min-height: 72px; }
.game-zone { /*width: 1040px*/ background: #f6f6f4;padding: 20px 7px; box-sizing: border-box; }
.game-zone table { text-align: center; }
.game-zone table th { text-align: center; background: #e3e2df; color: #000; text-transform: uppercase; font-size: 17px; border-right: 5px solid #f6f6f4; /*padding: 5px 0;*/ width: 225px; }
.game-zone table td {font-size: 12px; text-transform: uppercase; color: #51524e; font-weight: bold; min-width: 50px;  }
.que-zone { text-align: left;font-size: 16px;line-height: 23px;}
/*.que-zone p{font-size: 14px;}*/

table.btm-table th {border-radius: 10px; /*padding: 10px 10px;*/  }

.box{border-radius: 10px; padding: 0 8px; width: 98px; height: 98px; color: #fff; border: 2px solid #000; text-align: left; 
    /*-webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);*/

}
.box label.title {font-weight: 600; font-size: 13px; margin: 0; padding: 9px 0; line-height: 16px; font-family: arial; word-wrap: break-word;}
.box p.desc {font-size: 11px; line-height: 12px; margin: 0; padding: 0; }
.box span.points {     margin: 0; padding: 3px 6px; font-size: 11px; line-height: 12px; background: #000; position: absolute; bottom: 3px; left: 8px; border-radius: 10px; }

.box-bottom{    border-radius: 10px; margin-top: 5px; margin-bottom: 5px; padding: 8px; width: 98px; height: 104px; color: #fff; position: relative; border-radius: 10px; margin-top: 0; margin-right: 0; margin-bottom: 0; padding: 8px; width: 204px; height: 60px; color: #fff; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb910+1,ffb910+50,ffab0e+52,ffab0e+100 */
    background: #ffb910; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffb910 1%, #ffb910 50%, #ffab0e 52%, #ffab0e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffb910 1%,#ffb910 50%,#ffab0e 52%,#ffab0e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffb910 1%,#ffb910 50%,#ffab0e 52%,#ffab0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb910', endColorstr='#ffab0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  }
.box-bottom label.title {font-weight: 700; font-size: 14px; margin: 0; padding: 0; line-height: 15px; font-family: arial; text-align: left; text-transform: none; display: inherit; }
.box-bottom p.desc {font-size: 11px; line-height: 13px; margin: 0; padding: 0; text-align: left; text-transform: none;  }
.box-bottom span.star {     position: absolute; right: 5px; top: 22px; }

.box-contianer{    display: block; float: left; margin-top: 5px; margin-left: 5px; background: #eee1e1; border-radius: 10px; /*margin-bottom: 5px;*/}

.que-block-container{width: 100%; float: left; height: auto;  min-height: 148px;}

.orange{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff954e+1,ff954e+49,ff7f42+52,ff7f42+52,ff7f42+100 */
    background: #ff954e; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff954e 1%, #ff954e 49%, #ff7f42 52%, #ff7f42 52%, #ff7f42 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff954e 1%,#ff954e 49%,#ff7f42 52%,#ff7f42 52%,#ff7f42 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff954e 1%,#ff954e 49%,#ff7f42 52%,#ff7f42 52%,#ff7f42 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff954e', endColorstr='#ff7f42',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }

.pink{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4748d+50,2989d8+50,f26077+50,f26077+100 */
    background: #f4748d; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f4748d 50%, #2989d8 50%, #f26077 50%, #f26077 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f4748d 50%,#2989d8 50%,#f26077 50%,#f26077 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f4748d 50%,#2989d8 50%,#f26077 50%,#f26077 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4748d', endColorstr='#f26077',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }
.red{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f44e4e+0,f44e4e+2,f44e4e+49,ee3434+50,2989d8+50,ee3434+50,ee3434+100,ee3434+100 */
    background: #f44e4e; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f44e4e 0%, #f44e4e 2%, #f44e4e 49%, #ee3434 50%, #2989d8 50%, #ee3434 50%, #ee3434 100%, #ee3434 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f44e4e 0%,#f44e4e 2%,#f44e4e 49%,#ee3434 50%,#2989d8 50%,#ee3434 50%,#ee3434 100%,#ee3434 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f44e4e 0%,#f44e4e 2%,#f44e4e 49%,#ee3434 50%,#2989d8 50%,#ee3434 50%,#ee3434 100%,#ee3434 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f44e4e', endColorstr='#ee3434',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }
.purple {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9679fa+50,2989d8+50,8265fa+50,8265fa+100 */
    background: #9679fa; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #9679fa 50%, #2989d8 50%, #8265fa 50%, #8265fa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #9679fa 50%,#2989d8 50%,#8265fa 50%,#8265fa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #9679fa 50%,#2989d8 50%,#8265fa 50%,#8265fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9679fa', endColorstr='#8265fa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
.green {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#84c537+0,84c537+50,6eb92d+51,6eb92d+100 */
    background: #84c537; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #84c537 0%, #84c537 50%, #6eb92d 51%, #6eb92d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #84c537 0%,#84c537 50%,#6eb92d 51%,#6eb92d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #84c537 0%,#84c537 50%,#6eb92d 51%,#6eb92d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84c537', endColorstr='#6eb92d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.light-green {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#69d6b5+1,69d6b5+50,57cea7+52,57cea7+100 */
    background: #69d6b5; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #69d6b5 1%, #69d6b5 50%, #57cea7 52%, #57cea7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #69d6b5 1%,#69d6b5 50%,#57cea7 52%,#57cea7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #69d6b5 1%,#69d6b5 50%,#57cea7 52%,#57cea7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69d6b5', endColorstr='#57cea7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.sky-blue {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#59cacc+1,59cacc+50,4bc0c2+53,4bc0c2+100 */
    background: #59cacc; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #59cacc 1%, #59cacc 50%, #4bc0c2 53%, #4bc0c2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #59cacc 1%,#59cacc 50%,#4bc0c2 53%,#4bc0c2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #59cacc 1%,#59cacc 50%,#4bc0c2 53%,#4bc0c2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59cacc', endColorstr='#4bc0c2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
.blue{ 
    background: #75a6fa; / Old browsers /
    background: -moz-linear-gradient(-45deg, #75a6fa 0%, #75a6fa 0%, #75a6fa 50%, #6497fa 50%); 
    background: -webkit-linear-gradient(-45deg, #75a6fa 0%,#75a6fa 0%,#75a6fa 50%,#6497fa 50%); 
    background: linear-gradient(135deg, #75a6fa 0%,#75a6fa 0%,#75a6fa 50%,#6497fa 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75a6fa', endColorstr='#6497fa',GradientType=1 ); 
}

.cross {display: block; margin: auto; width: 98px; height: 98px; position: relative; border: solid 1px #c8c6c4; background: #e3e2df; position: relative; border-radius: 10px; /*margin-top: 5px; margin-left: 6px; margin-bottom: 5px; */}
.cross:before {     content: ''; position: absolute; top: 50%; left: -16px; width: 130px; height: 1px; background: #c8c6c4; transform: rotate(45deg); } 
.cross:after { content: ''; position: absolute; top: 50%; left: -16px; width: 130px; height: 1px; background: #c8c6c4; transform: rotate(-45deg); }

.gray{background: #eee1e1; border: none;  }
.no-border { border: none; }
.cross span.points { background: none; }
.gray span.points { background: none; }
#toast-container{top: 50%; left: 38%; }
#toast-container>div{opacity: 1; background: #fff; height: 120px; border-radius:10px; border:2px solid #ccc; text-align: center; color:#000; font-size: 15px }

.right-content h2 { font-size: 24px; line-height:  normal; color: #991b1e; font-weight: 600; padding-top: 25px;    }
.right-content p { font-size: 16px; line-height: normal; color: #000; padding-bottom: 20px;     }
.right-content p span { font-weight: bold; }
.right-content button { width: 100%; margin-bottom: 10px; font-size: 16px; padding: 8px 0; position: relative;      }
.right-content button i.fa {     position: absolute; left: 14px; top: 16px; font-size: 18px; }
.right-content button.red-btn { background: #a31919; }

/*points popup code start*/
#points-popup .modal-content {    text-align: center; border-radius: 0; padding: 30px;}
#points-popup .modal-content p { font-weight: bold; font-size: 18px; line-height: 23px; color: #383737;    }
#points-popup .modal-dialog { margin: 270px auto; }
/*points popup code end*/

/*Home page css end*/

.bottom { background-color: #980000; padding:5px 0; display: inline-block; width: 100%;margin-bottom: 61px; }
.bottom .start-over { padding-top: 15px; display:block; }
.bottom .start-over:hover span,.bottom .start-over:hover .startover{ color: white }
.bottom .start-over span {float: left; margin-right: 10px;color: #ffc129 }
.bottom i.fa-refresh { font-size: 33px; }
.bottom i.fa-arrow-right { font-size: 33px; }
.bottom span i.fa-long-arrow-left, .bottom span i.fa-long-arrow-right  { font-size: 33px; font-weight: lighter; line-height: normal; display: inline-block; }
.bottom .start-over a { color: #ffc22a; font-size: 16px; text-decoration: none;   }
.units-outer {display: inline-block; text-align: center; width: 100%;}
.total-units { text-align: center; font-family: arial; float:none; display: inline-block; margin-left: 25px;    }
.total-units h5 { display: inline-block; font-size: 14px; text-transform: uppercase; color: #fff;     margin: -12px 14px 0 0 ;vertical-align: middle;  }
.total-units span {background: black; color: #fff; position: relative; font-size: 40px; margin: 0; padding: 7px 8px; display: inline-block; border-radius: 8px; line-height: normal;         font-weight: bold;}
.total-units .star-yellow { position: absolute; top: -22px; right: -5px;  }
.elective {display: inline-block; }
span.elective-bg { background: url(../images/elective-icon.png) no-repeat center; width: 61px ; height: 52px; font-size: 30px; padding-top: 10px;    }
.next { display: inline-block; padding-top: 12px; padding-right: 21px}
.next i.fa-arrow-right { margin: 0 0 0 10px; font-size: 20px; }
.next a { color: #ffc028; text-decoration: none;  }
.next a:hover, .next a:active, .next a:focus { color: #fff; text-decoration: none;  }

.indstry{  -webkit-appearance: menulist-button; height: 47px!important; }
.labeloptn{ width: 94%; padding: 0px 5px; font-weight: 400}
.option-container ul{ list-style: none;    max-height: 487px; overflow: hidden; padding: 3px; height: auto;}
.option-container input[type=radio]{float: left; margin:8px 0px 0px;}
.chklabel{  width: 92%; font-weight: 400;vertical-align: text-top; margin-top: -4px;}
.brown{ background:#d19b53 }
#styleScroll{ overflow: auto; }
#styleScroll::-webkit-scrollbar{width: 8px; }
#styleScroll::-webkit-scrollbar-track {background: #80808061; border: 5px solid transparent; background-clip: content-box; } 
#styleScroll::-webkit-scrollbar-thumb{background: rgb(172, 32, 15); border-radius: 24px;}
#chebox-popup h2{ color: #b62600; font-size: 24px; padding: 15px 0px; line-height: 29px; }
#chebox-popup .modal-content{width: 285px; text-align: center; height: auto; }
/*home page code end*/

/*login page code start*/
.login-head h3 { font-size: 35px; line-height: normal; color: #ffc028;    }
.login-head p { font-size:21px; line-height: normal; color: #fff; padding-bottom: 20px; font-weight: 500  }
.login-box .form-control {float: none; display: inline-block; width: 395px; padding:14px 0px 14px 15px; height: auto;   }
.login-box .form-control input[type="text"] { font-size:16px; line-height: normal; color: #000;  font-weight: 500;     }

.login-box button.cmn-btn { width: 395px;  float: none; display: inline-block; padding:15px 0; font-weight: bold; font-size:20px; color: #fff; text-transform: uppercase; background-color: #ffc028;    }
.login-box button.cmn-btn:hover { background-color: #000;  }
.text-center label { color: #fff; font-weight: lighter; font-size: 14px;   }

.mid-part { display: block; width: 100%; position: relative; margin-top: -75px;    margin-bottom: 126px; }
/*login page code end*/


/*how to play code start*/
p.sample-text { color: #000; font-weight: bold;  }
.howtoplay .game-zone {float: none; display: inline-block; }
.discription { float: left; width: 100%; display: inline-block;  padding-left: 3%; color: #000; font-size: 16px;     }
ul.chart-detail { float: left; margin: 0; padding: 20px 0 40px 0; }
ul.chart-detail li { float: left; margin: 0 100px 0 0; padding: 0; list-style-type: none; font-size: 14px; font-weight: bold; color: #000;     }
ul.chart-detail li span {margin-right: 15px; }
ul.chart-detail li span img {margin: -3px 0 0 0; }
.bottom-notes {float: left; width: 100%; text-align: left; }
.bottom-notes h3 { color: #000; font-weight: bold; font-size: 16px;   }
.bottom-notes ul {padding-bottom: 15px; }
.bottom-notes li { line-height: 20px; }
.bottom-notes p { line-height: 20px; }
table th.background-none { background: transparent !important; }
/*how to play code end*/

/*Resume page code start*/
.resume-outer { margin: 0 auto; max-width: 700px;  }
.resume {  min-height: 700px; border: 1px solid #ddd; border-top: 10px solid #ffcb2f; display: inline-block; width: 100%; padding:10% 10% 5% 10% }
.resume-top {width: 100%; padding: 10px 0;}
.resume-top ul { margin: 0; padding: 0; float: left;  }
.resume-top li { margin: 0 0 0 5px  ; padding: 0; float: left; list-style-type: none;  }
.resume-top span { margin-top: 5px; float: right; }
.resume-top span i.fa-times { font-size: 22px; cursor: pointer; }
.resume-top span i.fa-times:hover { color: #a31919; }
.resume h2 {     font-size: 40px; line-height: 30px; font-weight: bold; color: #a31919; margin: 0; padding: 0; }
.resume .email { font-size: 16px; line-height: normal; margin: 0; padding: 0;  }
.resume .email a { color: #000; }
.resume .education { padding: 0; margin-top: 32px; border-top: 1px solid #000; display: inline-block; }
.resume .education h3 { display: inline-block; color: #a31919; text-transform: uppercase;   }
.resume .education h4 { display: inline-block; float: left; width: 100%; color: #000; font-weight: bold; margin: 0; padding: 10px 0; font-size: 16px;  }
.resume .education span { float: right;     margin: -3px 0 0 0; font-weight: normal; color: #8b8b8b; font-size: 15px;   }
.resume .education p {     width: 330px; font-size: 15px; line-height: 18px; color: #000; float: left; font-weight: 500; }
.resume-bottom { float: right; padding-top: 50px;  }
.resume-bottom p { float: left; font-size: 12px; margin-right: 40px;   }
/*Resume page code end*/
.iziToast-wrapper-topCenter{ top: 8%!important; }
.next button{    color: #ffc028; background:none; border:0px;} 
.next button:hover{ color: white } 
.next button:focus{outline: none; }

/*home page code start*/

.mid-description { padding: 25px 0 0px 0; display: inline-block; color: #000;   }
.mid-description h2 { font-size: 24px; line-height: normal; margin: 0; padding:  0 0 15px 0;   }
.mid-description h4 { font-size: 18px; line-height: normal;  margin: 0; padding:  0 0 25px 0;   }

/*home page code end*/

a.cmn-btn2 { background-color: #a11b1f; color: #fff; border-radius: 0; font-size: 14px; line-height: normal; padding: 10px 30px; margin-top: 20px;       }
a.cmn-btn2:hover { color: #fff; }
a.cmn-btn2:focus, a.cmn-btn2:active {  color: #fff; }
.help{ color: #a11b1f; text-decoration: none; display: block;}
.help:hover{ color: #a11b1f; text-decoration: none;}
.help:focus{ outline: none}
.modal-header .close{ font-size: 37px; }

/*game page code start*/
.blue .points{ display: none }
.box.rmvBorder{ border:none; }
/*game page code end*/



/*block animation code start */
.box-contianer .defaultselect {-webkit-animation: fadeIn 0.3s; animation: fadeIn 0.3s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }
.box-contianer:nth-child(n+1) .defaultselect{opacity: 0; -webkit-animation-delay: 0.5s; animation-delay: 0.5s; }
.box-contianer:nth-child(n+2) .defaultselect{opacity: 0; -webkit-animation-delay: 0.7s; animation-delay: 0.7s; }
.box-contianer:nth-child(n+3) .defaultselect{opacity: 0; -webkit-animation-delay: 0.9s; animation-delay: 0.9s; }
.box-contianer:nth-child(n+4) .defaultselect{opacity: 0; -webkit-animation-delay: 1.1s; animation-delay: 1.1s; }
.box-contianer:nth-child(n+5) .defaultselect{opacity: 0; -webkit-animation-delay: 1.3s; animation-delay: 1.3s; }
.box-contianer:nth-child(n+6) .defaultselect{    opacity: 0; -webkit-animation-delay: 1.5s; animation-delay: 1.5s; }
.box-contianer:nth-child(n+7) .defaultselect{opacity: 0; -webkit-animation-delay: 1.7s; animation-delay: 1.7s; }
.box-contianer:nth-child(n+8) .defaultselect{opacity: 0; -webkit-animation-delay: 1.9s; animation-delay: 1.9s; } 
.box-contianer:nth-child(n+9) .defaultselect{opacity: 0; -webkit-animation-delay: 2.1s; animation-delay: 2.1s; }
.box-contianer:nth-child(n+10) .defaultselect{opacity: 0; -webkit-animation-delay: 2.3s; animation-delay: 2.3s; }
.box-contianer:nth-child(n+11) .defaultselect{opacity: 0; -webkit-animation-delay: 2.5s; animation-delay: 2.5s; }
.box-contianer:nth-child(n+12) .defaultselect{opacity: 0; -webkit-animation-delay: 2.7s; animation-delay: 2.7s; }
.box-contianer:nth-child(n+13) .defaultselect{opacity: 0; -webkit-animation-delay: 2.9s; animation-delay: 2.9s; }
.box-contianer:nth-child(n+14) .defaultselect{opacity: 0; -webkit-animation-delay: 3.1s; animation-delay: 3.1s; }
.box-contianer:nth-child(n+15) .defaultselect{opacity: 0; -webkit-animation-delay: 3.3s; animation-delay: 3.3s; }
.box-contianer:nth-child(n+16) .defaultselect{opacity: 0; -webkit-animation-delay: 3.5s; animation-delay: 3.5s; }
.box-contianer:nth-child(n+17) .defaultselect{opacity: 0; -webkit-animation-delay: 3.7s; animation-delay: 3.7s; }
.box-contianer:nth-child(n+18) .defaultselect{opacity: 0; -webkit-animation-delay: 3.9s; animation-delay: 3.9s; }
.box-contianer:nth-child(n+19) .defaultselect{opacity: 0; -webkit-animation-delay: 4.1s; animation-delay: 4.1s; }
.box-contianer:nth-child(n+20) .defaultselect{opacity: 0; -webkit-animation-delay: 4.3s; animation-delay: 4.3s; }
.box-contianer:nth-child(n+21) .defaultselect{opacity: 0; -webkit-animation-delay: 4.5s; animation-delay: 4.5s; }
.box-contianer:nth-child(n+22) .defaultselect{opacity: 0; -webkit-animation-delay: 4.7s; animation-delay: 4.7s; }
.box-contianer:nth-child(n+23) .defaultselect{opacity: 0; -webkit-animation-delay: 4.9s; animation-delay: 4.9s; }
.box-contianer:nth-child(n+24) .defaultselect{opacity: 0; -webkit-animation-delay: 5.1s; animation-delay: 5.1s; }

/ Animation steps /

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.0;
}
100% {
    opacity: 1.0;
}
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
}
100% {
    opacity: 1.0;
}
}
/*block animation code end */
.suboption{ margin-left: 27px; }
.suboption li label{ padding-left: 7px; }
.suboption li input[type=radio]{ margin: 12px 0px 0px; }
.slideout-menu {position: fixed; top: 0; bottom: 0; width: 256px; min-height: 100vh; overflow-y: scroll; -webkit-overflow-scrolling: touch; z-index: 0; /*display: none;*/ }
.slideout-menu-left {left: 0; }
.slideout-menu-right {right: 0; }
.slideout-panel {position: relative; z-index: 1; will-change: transform; background-color: #FFF; /* A background-color is required */ min-height: 100vh; }
.slideout-open, .slideout-open body, .slideout-open .slideout-panel {overflow: hidden; }
.slideout-open .slideout-menu {display: block; } 
.rightBox{ background: none;}
/*.contentQue{     max-height: 604px; overflow: auto; }*/
.resonacelink{ color: #ac210f; text-decoration: underline; } 
.bottom-table{margin-top: 6px; display: -webkit-inline-box;} 
.startover{color: #ffc129; }
/*.startover:hover{ color: white }*/
.startover:focus{ outline: none; }
.start-over button{ width: 75%; background: none;color: #ffc129; border: 0px; }
/*.rightBox:first-child{ margin-left: 0px!important }*/
/* position: relative; left: 25%; top: -107px;*/ 
.start-over button{ outline: none }
#gamePage{ display: none }
#introPage{ display: block }


.btm-table .gridbox{ margin-top: 0px;margin-left: 0px }
.summerBlock{ padding: 10px }




/************************************************************Responsive code start*********************************************************************/
@media only screen and (max-width: 1200px) {


    .game-zone-outer {  overflow-x: auto ; }
    .game-zone {      width: 758px; border: 1px solid #ccc;   }

}

@media only screen and (max-width: 1024px) {

    /*intro page code start*/
    
    
    .search-box .form-search, .search-box .form-text {    background: #9f0f0f; border-color: #b53700; color: #fff; height: 3.125rem; padding: 22px 10px 18px 15px; position: relative; font-size: 16px; color: #fff;  }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #fff; }
    .form-search, .form-tel, .form-textarea, .chosen-search input, .select-multiple .chosen-choices .search-field input, .form-text, .form-email {border: 0.0625rem solid #e8e8e8; border-radius: 0; color: #000; display: block; font-family: inherit; font-size: 1rem; height: 3.0625rem; padding: 0.875rem 1.125rem; width: 100%; }
    .js-form-item  { position: relative; }
    .js-form-item i.fa {position: absolute; right: 10px; top: 10px; font-size: 16px; color: #fc0;}
    .search-box {    margin: 30px 0; }
    /*intro page code end*/


    /*home page code start*/
    .labeloptn {width: 93%; padding: 0px 10px; }
    .box-contianer {margin-left: 20px;}

    /*home page code end*/

}

@media only screen and (max-width: 991px) {

    /*.login-page {min-height: 600px; }
    .login-head h3 {font-size: 26px; }
    .login-head p {font-size: 14px; }*/
    .start-over p {font-size: 14px; line-height: normal ; }

    /*how to play page code start*/
    .draganddrop-outer {padding: 7% 0 5%; }
    h2.page-title i.fa-times { right: 15px; }
    /*how to play page code end*/
    .game-zone-outer{overflow-x: scroll; min-height:828px;  }
    .game-zone-outer.gamescroll{overflow-x: inherit;    width: 913px;}
    .box-bottom { width: 250px; }
    /*home page code start*/
    .que-zone{position: fixed; height: 93vh; background: white; top: 0px; right: -68%; width: 80%; padding: 2px 20px 2px 50px; box-shadow: 0 0 6px rgba(0,0,0,0.4);  z-index: 999;       padding-bottom: 38px; }
    .que-btn{float: right; margin: 6px 20px 0 10px; background: #a31919; padding: 1px 10px; color: #FFF; border: 0; }
    .que-btn2 {    position: absolute; left: 2px; top: 25px;} 
    .static{position: static; }
    #que-block{transition: 0.5s; }
    .right-menu{right: -1px; }
    .bottom {position: fixed; bottom: 0; z-index: 99999; padding: 7px 0; left: 0; margin-bottom: 0;   }
    #help-popup {z-index: 999999; }
    /*home page code end*/

    /*intro page code start*/

    .bottom-notes {    padding: 5%; box-sizing: border-box; }
    ul.chart-detail {padding: 20px 0 10px 0; }
    div#que-block.right-menu {overflow: auto; }


    /*intro page code start*/

}


@media only screen and (min-width: 768px) and (max-width: 990px) {

    button.que-btn { position: absolute;     right: -17px; }

}

@media only screen and (max-width: 767px) {

    /*.navbar { position:fixed !important; width: 100% !important; }*/
    .text-center label { line-height: normal ;}
    
    .bottom span i.fa-long-arrow-left, .bottom span i.fa-long-arrow-right { color: #fff; }
    .total-units {    margin-left: 0;  }
    .star-yellow { display: none; }
    #points-popup .modal-content {margin: 0 50px; z-index: 999999}
    

    /*home page code start*/
    /*.option-container ul{height: 290px; }*/
    .game-zone-outer { min-height: auto; }
    /*home page code end*/

    /*Resume page code start*/
    .resume { padding:5% }
    .resume .education span {width: 100%; padding-top: 16px; }
    .resume .education { width: 100%; }
    .resume .education p { width: 100%; }
    /*Resume page code end*/

    /*home 2 page code start*/
    /*.banner img { display: none; }
    .page-title, .breadcrump, .social-share, .foot-cont, #footer { display: none; }*/
    .right-menu button.cmn-btn {margin-top: 10px; }
    /*.que-zone p {     font-size: 15px; line-height: 15px; }*/
    /*home 2 page code end*/



}

@media only screen and (max-width: 640px) {


    .total-units {    margin-left: 0;  }
    .total-units span {     font-size: 16px; margin: 0 0; padding: 4px 5px;}
    .total-units .star-yellow {top: -13px; }

    span.elective-bg { vertical-align: top;     margin: -6px 8px -15px; padding: 16px 5px }
    .next { padding-top: 0; }
    .total-units h5 {width: 52px !important; margin: 0px 5px 0 0; font-size: 12px;   }
    .units-outer .total-units.elective h5 { width: 78px !important;  }
    .bottom .start-over { padding-top: 0; }
    .next { padding-top: }

    /*home page code end*/
    

}

@media only screen and (max-width: 480px) {

    .next { padding-top: 12px; }
    .next a {margin: -11px -28px 0 0; }
    .units-outer {width: 280px; margin: 0 0 0 -21px; padding: 0;}
    button.que-btn2 { top: 15px !important; }
    .mid-description, .cont-left, .cont-right ul {text-align: center; padding: 15px 0 0px 0; }
    
    
    /*how to play code start*/
    .draganddrop-outer { padding:0% 0 0%; }
    /*.game-zone table th {width: 22%; }*/
    .box-contianer {margin-left: 5px; }
    .cross{ width: 98px; height: 98px; }
    .cross:before{ width: 115px; }
    /*how to play code end*/

    /*intro page code start*/

    .box{ width: 87px; height: 89px; }
    .box:hover{z-index: 9; transform: scale(1.3);}
    .box.gray, .box.cross{ transform: scale(1); }
    .box label.title{ font-size: 11px;line-height: 16px; }
    .box p.desc{ font-size: 9px; line-height: 10px; }
    .rightBox{ height: 98px; width: 98px }
    ul#styleScroll{ overflow: hidden }
    .contentQue#styleScroll{ overflow: hidden }
    .contentQue{max-height: 934px;}
    .gamebox img{ width: 100% }
    .mid-part { padding: 1% 0; margin-top: 0px;margin-bottom: 0px}
    .bottom .container{padding: 0 !important; }
    .total-units h5{font-size: 9px;}
    .bottom i.fa-refresh{font-size: 24px;}
    span.elective-bg{background-size: 45px 30px;}
    #points-popup .modal-dialog{margin: 50% auto;}
    .bottom span i.fa-long-arrow-left, .bottom span i.fa-long-arrow-right{
        font-size: 22px;
    }
    .bottom .start-over span{margin: 0 0 0 0px !important; text-align: center !important; float: none; }
    .units-outer .total-units.elective h5{width: auto !important; padding: 0 2px;}
}

@media only screen and (min-width: 320px) and (max-width: 380px) {


    .bottom .start-over span {margin: 0 0 0 -15px; }
    span.left-arrow-mobile {margin: 0 0 0 -16px; }
    .units-outer {margin: 0 0 0 -40px; }
    .units-outer .total-units.elective h5 {width: 78px !important; }
    span.elective-bg { margin: -6px -5px -15px; }
    i.fa-long-arrow-left {font-size: 24px; }
    .next a {  margin: -9px -34px 0 8px !important; }
    .total-units h5 {font-size: 10px; }
    .bottom span i.fa-long-arrow-left, .bottom span i.fa-long-arrow-right {font-size: 26px;}
    .labeloptn{ width: 93%; padding: 0px 5px}
    .units-outer {margin: 0 0 0 -60px; }


}
/************************************************************Responsive code end*********************************************************************/